# Environments
venv/
env/
.env

# Python caches
__pycache__/
*.py[cod]
*$py.class

# Jupyter Notebooks
.ipynb_checkpoints/

# Logs
logs/
*.log

# Editor directories and files
.vscode/
.idea/
*.swp
*.swo

# Datasets (Uncomment if you want to ignore raw datasets)
# data/raw/*.csv
ML_PROJECT_REPORT.md
WEB_TECH_PROJECT_REPORT.md
EXPLAINER.md
ML_PROJECT_REPORT.docx
WEB_TECH_PROJECT_REPORT.docx
Recording 2026-05-20 230517.mp4
ML - Project Report.pdf
ML - Project Report.docx
FrontSheet ML.pdf
FrontSheet ML.docx
Snapshots